<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_generate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="connection.pool_size">2</property>
        <!-- Hibernate properties -->
        <!--        <property name="hibernate.show_sql">true</property>-->
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!--        <mapping class="org.example.entity.Comment"/>-->
        <mapping class="org.example.entity.Department"/>
        <mapping class="org.example.entity.Project"/>
        <mapping class="org.example.entity.Worker"/>
    </session-factory>
</hibernate-configuration>
